*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/* section */
section{
  width: 100%;
}


.section-title{
  font-size: 28px;
}

/* containers */
.container{
  display: flex;
  margin: 0 auto;
}

.container-60{
  width: 60%;
}

.container-100{
  width: inherit;
}

/*row*/
.row{
  display: flex;
}
/*columns*/
.col-70{
  width: 70%
}

.col-60{
  width: 60%;
}

.col-40{
  width: 40%;
}

.col-35{
  width: 35%;
}

.col-32{
  width: 32%;
}

.col-30{
  width: 30%;
}


/* Grid */
.grid{
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
}

.grid-item-30{
  width: calc(100%/3 - 15px);
}

/* Buttons */
button{
  height: auto;
  width: auto;
}

button:hover{
  cursor: pointer;
  transition: all 0.5s;
}

.blue-btn{
  border: none;
  color: white;
  background-color: rgb(1,96,255);
  padding: 10px;
}

.blue-btn:hover{
  background-color: rgb(54, 127, 255);
}

.gray-btn{
  color: gray;
  border: 1px solid black;
  background-color: white;
  padding: 8px;
}

.gray-btn:hover{
  color:rgb(0, 94, 255);
  border-color: rgb(0, 94, 255);
}

.white-btn{
  border: none;
  background-color: white;
  padding: 8px 40px;
}

  /* Images */
  img{
    width: 100%;
  }

  /* Lists*/
    ul{
      list-style-type: none;
    }
  /* Links */
    a{
      color:rgb(54, 127, 255)
    }

  /* hr lines*/
    hr{
      height: 1px;
      border: 0; 
      border-top: 1px solid  rgb(211, 211, 211);
    }

    .line-sm{
      width: 45px;
    }

    .line-medium{
      width: 80px;
    }

/* Header */
header{
  z-index: 100;
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
}

header .container{
  width: inherit;
  display: flex;
}

header .row{
  width: inherit;
  display: flex;
  justify-content: space-between;
}

header nav{
  min-width: 520px;
  display: flex;
}

.logo-container,
.nav-item{
  padding: 0px 12px;
}

.nav-item{
  height: auto;
  cursor: pointer;
  color: rgb(70, 70, 70);
  transition: all 0.5s;
}

.nav-item:hover{
  color: rgb(1,96,255);
}

header .blue-btn{
  padding: 5px 13px;
}

/*<------>*/

/* Main */
main{
  padding-top: 60px;
}

  /* Back-ground lightblue section */
  .bg-lightblue .container{
    font-size: 13px;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 35px;
  }

  .bg-lightblue h1{
   font-size: 50px;
  }

  .bg-lightblue .row{
    width: 100%;
  }

  .bg-lightblue .col-40{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .bg-lightblue a{
    color: black;
    cursor: pointer;
    font-size: 35px;
    padding-bottom: 5px;
  }

  .bg-lightblue .col-60{
    position: relative;
  }

  .bg-lightblue .img-exeed{
    position: absolute;
    left: 0;
    width: 650px;
  }

  /* Cards section */
  .cards{
    row-gap: 50px;
    flex-direction: column;
  }

  .long-grid-y{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 650px;
    width: 100%;
  }

  .long-grid-y .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .long-grid-y .grid-item{
    border: 1px solid rgb(211, 211, 211);
  }

  .long-grid-y .grid-item-title{
    padding: 6px 0px;
    font-size: 13px;
    color: rgb(87, 87, 87);
    border-bottom: 1px solid rgb(211, 211, 211);
  }

  .long-grid-y .grid-item-content{
    height: 710px;
    width: 85%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 0 auto;
  }

  .long-grid-y  .grid-item-content > :not(h3){ /* appy this call to every tag that is not a h3*/ 
    font-size: 12px;
  }

  .month-text{
    display: block;
    padding-top: 7px;
    color: gray;
  }

  .long-grid-y li{
    display: flex;
    column-gap: 5px;
    margin: 15px 0px;
  }

  .long-grid-y button{
    width: 100%;
  }

  .checked-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .checked-list li{
    margin: 0;
    flex-direction: row;
  }

  .checked-list li:before{
    content: '\2714 ';
    font-size: 15px;
    color: rgb(0, 94, 255);
  }

  .grid-item-full-content{
    width: 100%;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* Square section */
  .square{
    display: flex;
    width: calc(100%/3);
    height: calc(100vw/3);
  }

  .big-square{
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }

  .big-square img{
    width: 180px;
  }

  .square-sm{
    width: 50%;
    height: 50%;
  }

  .container.height-250{
    justify-content: center;
    align-items: center;
    column-gap: 150px;
  }
/*<---->*/

/* Footer */
/*<------>*/

/* Utils */
  .cursor-pointer{
    cursor: pointer;
  }
  /* Display */

  .block{
    display: block;
  }

    /* flex */
    .flex{
      display: flex;
    }
    
    .flex-column{
      flex-direction: column;
    }

    .flex-center{
      align-items: center;
      justify-content: center;
    }

    .jc-space-between{
      justify-content: space-between;
    }

    .jc-flex-end{
      justify-content: flex-end;
    }

    .row-gap-30{
      row-gap: 30px;
    }
    .wrap{
      flex-wrap: wrap;
    }
  /* Padding */

  .pt-220{
    padding-top: 220px;
  }

  .pb-80{
    padding-bottom: 80px;
  }

  .pt-80{
    padding-top: 80px;
  }

  .ptb-40{
    padding: 40px 0px;
  }

  .pb-25{
    margin-bottom: 25px;
  }
  
  .pt-40{
    padding-top: 40px;
  }

  .pt-20{
    padding-top: 20px;
  }

  .pb-15{
    padding-bottom: 15px;
  }

  /* Margin */
  .mt-60{
      margin-top: 60px;
  }

  .mb-100{
    margin-bottom: 100px;
  }

  .mr-60{
    margin-right: 60px;
  }

  .mb-50{
    margin-bottom: 50px;
  }
  
  .mt-30{
    margin-top: 30px;
  }
  
  .mb-20{
    margin-bottom: 20px;
  }

  .mr-10{
    margin-right: 10px;
  }

  .mr-5{
    margin-right: 5px;
  }
  
  /* Background-color */
  .bg-lightblue{
    background-color: rgb(180,208,231);
  }

  .bg-red{
    background-color: red;
  }

  .bg-magenta{
    background-color: rgb(75, 10, 30);
  }

  .bg-green{
    background-color: rgb(148, 228, 148);
  }
  
  .bg-blue{
    background-color: rgb(0, 135, 194);
  }

  .bg-darkblue{
    background-color: rgb(0, 0, 161);
  }

  .bg-yellow{
    background-color: rgba(255, 225, 0, 0.993);
  }
  
  .bg-gray{
    background-color: rgb(238, 238, 238);
  }
  /* Borders */
  .border-green-thick{
    border: 10px solid rgb(202, 255, 202);
  }

  /* Images */
  .white-img{
    filter: invert(1);
  }

  /* Height */
  .height-160{
    height: 160px;
  }
  .height-250{
    height: 250px;
  }

  /* Witdh */
  .width-100{
    width: 100%;
  }

  .width-70{
    width: 70%;
  }

  .width-300{
    width: 300px;
  }

  .width-150{
    width: 150px;
  }

  /* Font */
  .font-size-14{
    font-size: 14px;
  }

  .text-magenta{
    color:rgb(75, 10, 30)
  }

  .text-gray{
    color: gray;
  }
/*<----->*/